<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Сянци в России | Турниры по сянци{% endblock %}</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  {% block styles %}{% endblock %}
</head>
<body>
  <header>
    <div class="logo">
      <a href="{{ url_for('index')}} " class="logo-icon"></a>
      <div class="logo-text">Сянци в России</div>
    </div>
    
    <nav class="nav-links">
      <a href="{{ url_for('index') }}" class="active"><i class="fas fa-home"></i> Главная</a>
      <!-- <a href="#"><i class="fas fa-trophy"></i> Турниры</a>
      <a href="#"><i class="fas fa-chess-rook"></i> Игроки</a>
      <a href="#"><i class="fas fa-scroll"></i> Правила</a> -->
      <!-- <a href="{{ url_for('exec_query') }}"><i class="fas fa-history"></i> Архив</a> -->
      <!-- <a href="#"><i class="fas fa-info-circle"></i> О нас</a> -->
    </nav>
    
    <div class="nav-buttons">
        
        {% if 'username' in session %}
        <a href="{{ url_for('player_profile') }}" class="btn btn-primary">{{ session['username'] }}</a>
        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Выйти</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="btn btn-secondary">Войти</a>
        <a href="{{ url_for('register') }}" class="btn btn-primary">Регистрация</a>
        {% endif %}
    </div>
  </header>

{% block content %}{% endblock %}

  <footer>
    <div class="footer-content">
      <!-- <div class="footer-column">
        <h3><i class="fas fa-chess-rook"></i> Xiangqi Masters</h3>
        <p>Платформа для организации и проведения турниров по сянци - древним китайским шахматам. Присоединяйтесь к нашему сообществу профессионалов и любителей.</p>
        <div class="social-links">
          <a href="#"><i class="fab fa-weixin"></i></a>
          <a href="#"><i class="fab fa-weibo"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      
      <div class="footer-column">
        <h3><i class="fas fa-trophy"></i> Турниры</h3>
        <ul class="footer-links">
          <li><span>Раздел в разработке</span></li>
          <li><a href="#"><i class="fas fa-chevron-right"></i> Предстоящие турниры</a></li>
          <li><a href="#"><i class="fas fa-chevron-right"></i> Текущие турниры</a></li>
          <li><a href="#"><i class="fas fa-chevron-right"></i> Архив турниров</a></li>
          <li><a href="#"><i class="fas fa-chevron-right"></i> Международные</a></li>
          <li><a href="#"><i class="fas fa-chevron-right"></i> Национальные</a></li>
          </ul>
      </div>
      
      <div class="footer-column">
        <h3><i class="fas fa-scroll"></i> Ресурсы</h3>
        <ul class="footer-links">
          <li><span>Раздел в разработке</span></li>
          <li><a href="#"><i class="fas fa-chevron-right"></i> Правила сянци</a></li>
          <li><a href="#"><i class="fas fa-chevron-right"></i> Стратегии игры</a></li>
          <li><a href="#"><i class="fas fa-chevron-right"></i> Учебные видео</a></li>
          <li><a href="#"><i class="fas fa-chevron-right"></i> Блог</a></li>
          <li><a href="#"><i class="fas fa-chevron-right"></i> FAQ</a></li>
        </ul>
      </div>
       -->
      <div class="footer-column">
        <h3><i class="fas fa-envelope"></i> Контакты</h3>
        <ul class="footer-links">
          <li><i class="fas fa-phone"></i> +7 916 919 1361</li>
          <li><i class="fas fa-map-marker-alt"></i> Россия, Москва, ул. Большая Пионерская, 24</li>
          <li><i class="fas fa-clock"></i> Клубе "Орион" по воскресеньям 14:00 - 17:00</li>
        </ul>
      </div>
    </div>
    
    <div class="copyright">
        Межрегиональная общественная организация “Федерация китайских шахмат сянци”. 2022.
    </div>
  </footer>

  {% block script %}{% endblock %}
</body>
</html>