{% extends "base.html" %}

{% block content %}
  <section class="hero">
    <div class="chinese-pattern pattern-1"></div>
    <div class="chinese-pattern pattern-2"></div>
    
    <h1>
      Турниры по сянци
    </h1>
    <p>Присоединяйтесь к древнейшей интеллектуальной традиции Китая! Участвуйте в турнирах, совершенствуйте стратегию и соревнуйтесь.</p>
    <!-- <div class="hero-buttons">
      <button class="btn btn-primary">Предстоящие турниры</button>
      <button class="btn btn-secondary">Научиться играть</button>
    </div> -->
  </section>

  <div class="container">
    <section class="tournaments">
      <div class="section-title">
        <h2>Ближайшие турниры</h2>
        {% if is_admin %}
        <a href="{{ url_for('create_tournament') }}" class="btn btn-primary">Создать новый турнир</a>
        {% endif %}
      </div>
      
      <!-- <div class="tournament-filters">
        <button class="filter-btn active">Все</button>
        <button class="filter-btn">Открытые</button>
        <button class="filter-btn">Премиум</button>
        <button class="filter-btn">Онлайн</button>
        <button class="filter-btn">Оффлайн</button>
      </div> -->

        {% if tournaments %}
        {% for tournament in tournaments %}
          <div class="tournament-card">

              <div class="tournament-header">
              <div class="tournament-title">
                  <i class="fas fa-dragon"></i>
                  {{ tournament.name }}
              </div>

              {% if tournament.status == 'upcoming' %}
                  <div class="status open">Открыта регистрация</div>
              {% elif tournament.status == 'ongoing' %}
                  <div class="status closed">Идет</div>
              {% elif tournament.status == 'finished' %}
                  <div class="status finished">Завершен</div>
              {% endif %}
              </div>
              
              <div class="tournament-details">
                  <div class="detail-item">
                      <i class="fas fa-calendar-alt"></i>
                      <span>{{ tournament.display_date() }}</span>
                  </div>
                  <div class="detail-item">
                      <i class="fa-solid fa-clock"></i>
                      <span>Начало в {{ tournament.display_time() }}</span>
                  </div>

                  {% if tournament.prize != 0%}
                  <div class="detail-item">
                      <i class="fas fa-trophy"></i>
                      {% if tournament.prize == -1 %}
                          <span>Гарантированный приз</span>
                          <div class="hint-trigger">?
                              <div class="hint-text">Порядок выбора приза определяется результатами турнира</div>
                          </div>
                      {% else %}
                          <span>Призовой фонд: {{tournament.prize}}₽</span>
                      {% endif %}
                  </div>
                  {% endif %}

                  <div class="detail-item">
                      <i class="fa-solid fa-hourglass-half"></i>
                      <span>Контроль времени: {{ tournament.display_time_control() }}</span>
                  </div>
                  
                  <div class="detail-item">
                      {% if tournament.place == 'online' %}
                          <i class="fas fa-globe"></i>
                          <span>Онлайн</span>
                      {% else %}
                          <i class="fas fa-map-marker-alt"></i>
                          <span>{{ tournament.place }}</span>
                      {% endif %}
                  </div>
              </div>

              <div class="tournament-footer">
                  {% if tournament.status == 'upcoming' %}
                      <a href="{{ url_for('manage_tournament', tournament_id=tournament.id) }}" class="register-btn">Зарегистрироваться</a>
                  {% elif tournament.status == 'ongoing' %}
                      <div class="participants">
                          <div class="participant">{{ tournament.current_round }}/{{ tournament.total_rounds }}</div>
                          <span>тур</span>
                      </div>
                      <div class="status closed">Идет</div>
                  {% elif tournament.status == 'finished' %}
                      <div class="status finished">Завершен</div>
                  {% endif %}
              </div>
          </div>
        {% endfor %}
        {% endif %}
    </section>
    
    <section class="leaderboard">
      <div class="section-title">
        <h2>Топ игроков</h2>
      </div>
      {% if players %}
      {% for player in players %}
        {% set place = loop.index %}
        <div class="player">
          {% if place > 3 %}
            <div class="rank">{{place}}</div>
          {% elif place == 3 %}
            <div class="rank top3">{{place}}</div>
          {% elif place == 2 %}
            <div class="rank top2">{{place}}</div>
          {% else %}
            <div class="rank top1">{{place}}</div>
          {% endif %}
          <div class="player-info">
            <div class="player-name">{{ player.name }}</div>
            <div class="player-country">{{ player.city }}</div>
          </div>
          <div class="player-rating">{{ player.rating }} 
            <!-- <span class="player-change up"></span> -->
          </div> 
        </div>
      {% endfor%}
      {% else %}
        <div class="player-list-item">
            <span>Пока нет игроков</span>
        </div>
      {% endif %}

    </section>
  </div>
{% endblock %}